.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 60px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    float: left;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: grey;
}

.myFace {
    width: 200px;
    border: 2px outset gray;
    border-radius: 1%;
}

.background {
    background-color: silver;
    color: black;
}

.section {
    padding: 20px;
}

.column {
    text-align: center;
}

#navbar {
    float: left;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: grey;
}
